<%- include('partial/header.ejs') -%>
<div class="body">
  <form action="/" method="post">
    <h1>compose here</h1>
    <input type="text" id="blog-title" name="posttitle">
      <h2> Compose your blog </h2>
    <textarea name="blog" id="blog" cols="5" rows="5"></textarea>
    <button type="submit"> compose</button>
  </form>
</div>
<%- include('partial/footer.ejs') -%>